@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$orange: #d5542d;
$yellow: #d9b15c;
$green: #84bf9e;
$turquoise: #3e9294;
$blue: #016373;
$purple: #945990;
$red: #ff6666;
$primary: #8d0a0a;