$primary: #ffff00;

$black:        #ffffff;
$black-bis:    $black;
$black-ter:    $black;

$white:        #000000;
$white-ter:    $white;
$white-bis:    $white;

$grey-darker:  $black;
$grey-dark:    $black;
$grey:         $primary;
$grey-light:   $primary;
$grey-lighter: $white;
$grey-lightest: $white;

$orange:       hsl(14,  100%, 53%) !default;
$yellow:       hsl(48,  100%, 67%) !default;
$green:        hsl(141, 100%,  53%) !default;
$turquoise:    hsl(171, 100%, 41%) !default;
$cyan:         hsl(204, 100%,  53%) !default;
$blue:         hsl(217, 100%,  53%) !default;
$purple:       hsl(271, 100%, 71%) !default;
$red:          hsl(348, 100%, 61%) !default;