@import "_colors";

$black-bis: #0f0b0e;
$black-ter: #242224;

$white-bis: #f3f1f3;
$white-ter: #e8e3e8;

$grey-darker: #2f232e;
$grey-dark: #453444;
$grey: #786577;
$grey-light: #bda8bb;
$grey-lighter: #d2bdd0;

$danger: $red;
$link: $purple;

$navbar-item-hover-color: $primary;
$navbar-item-active-color: $primary;
$navbar-dropdown-item-hover-color: $primary;
$navbar-dropdown-item-active-color: $primary;

$control-height: 2.5em;