<section class="hero">
    <div class="hero-body">
        <div class="container is-flex is-justify-content-center">
            <div class="box">
                <div class="block has-text-centered p-4 m-4">
                    <img src="/assets/logo-wbgl.svg" />
                </div>
                <h1 class="block has-text-centered title is-1">Kim jesteśmy?</h1>
                <div class="content has-text-justified p-4">
                    <p>
                        Cover jest najambitniejszym projektem założonym przez kilku pasjonatów czytelnictwa. 
                        Projekt, który z pewnością przerodzi się w jedną z lepszych sieci hurtowni na rynku.
                    </p>
                    <p>
                        Dzięki produktom najwyższej jakości, atrakcyjnym cenom oraz rzetelności naszych pracowników 
                        zajmujemy ugruntowaną pozycję na rynku. Nasze książki cieszą się dużym zainteresowaniem wśród odbiorców. 
                        Cover oferuje podręczniki akademickie, książki naukowe i popularnonaukowe, słowniki języka polskiego i 
                        słowniki języków obcych. Polecamy publikacje z zakresu nauk humanistycznych, społecznych, ekonomicznych, 
                        przyrodniczych, ścisłych, technicznych, rolniczych, weterynaryjnych oraz medycznych. Księgarnia proponuje 
                        zarówno tytuły specjalistyczne, jak i publikacje o charakterze przekrojowym i popularyzatorskim. Są to przede 
                        wszystkim publikacje skierowane do dzieci i młodzieży, ale nie tylko – dorośli również znajdą coś dla siebie. 
                    </p>
                        Działamy na rynku od 1989 roku, jednocześnie będąc firmą nowoczesną – pionierem w zakresie innowacyjnych 
                        rozwiązań omnichannelowych, w których jesteśmy w ścisłej czołówce CEE. Nasze działania są doceniane przez 
                        klientów, partnerów i branżowe konkursy.
                        Dokładamy starań, aby nieprzerwanie proponować nowe, atrakcyjne tytuły, które zadowolą szerokie grono czytelników. 
                        Wierzymy, że dzięki optymistycznemu nastawieniu w dążeniu do celu, jakim jest zadowolenie naszych klientów, 
                        w połączeniu z wiedzą i zaangażowaniem, udaje nam się tworzyć projekty zgodne z Państwa oczekiwaniami. 
                        Cieszymy się, gdy nasze publikacje znajdują uznanie w Państwa oczach i zajmują ważne miejsce w domowych biblioteczkach.
                    </p>
                    <div class="container has-text-centered">
                        <img src="/assets/readers-photo.png">
                    </div>
                </div>
                <div class="column has-text-centered">
                    <h4 class="subtitle is-4">Hurtowania Książek</h4>
                    <p class="container">
                        Chcesz się z nami skontaktować?
                    </p>
                    <p class="container py-4">
                        <button class="button">
                            <a href="/contact">Napisz do nas!</a>
                        </button>
                    </p>
                </div>
                <div class="column has-text-centered">
                    <h4 class="subtitle is-4">Znajdziesz nas również:</h4>
                    <div class="container">
                        <a href="https://www.facebook.com/marcin.kuba.1044/" class="mx-2">
                            <span class="icon"><img src="/assets/social-media/facebook/facebook.svg"></span>
                        </a>
                        <a href="https://www.instagram.com/coverhurtownia/" class="mx-2">
                            <span class="icon"><img src="/assets/social-media/instagram/instagram.svg"></span>
                        </a>
                        <a href="https://twitter.com/CoverHurtownia" class="mx-2">
                            <span class="icon"><img src="/assets/social-media/twitter/twitter.svg"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>