<section class="section">
    <div id="cart" class="container">
    
    </div>
</section>

<script type="module">
     import * as Preact from "/js/lib/Preact.js";
    import Cart from "/js/preact/cart/App.js";

    Preact.render(Preact.h(Cart), document.getElementById("cart"));
</script>