<section class="hero is-danger is-large">
    <div id="contact" class="hero-body">
        <div class="container">
            <div class="title">Tutaj będzie kontakt</div>
            <div class="subtitle">Ale na razie nie ma</div>
        </div>
    </div>
</section>