<section class="section">
    <div class="container content box">
        <h2 style="text-align: center">Polityka prywatności</h2>
        <ol type="1">
            <li><a href="#rule1"><b>Co to jest polityka prywatności?</b></a></li>
            <li><a href="#rule2"><b>Przez kogo przetwarzane są dane osobowe na stronie Hurtownia Książek COVER?</b></a></li>
            <li><a href="#rule3"><b>W jakim celu przetwarzane są dane osobowe przekazywane na stronie Hurtownia Książek COVER?</b></a></li>
            <li><a href="#rule4"><b>Jak długo przechowujemy Twoje dane?</b></a></li>
            <li><a href="#rule5"><b>Jakie masz prawa związane z Twoimi danymi?</b><br></a></li>
            <li><a href="#rule6"><b>Prawo do wniesienia skargi oraz prawo wycofania zgody</b></a></li>
            <li><a href="#rule7"><b> Zmiany w Polityce Prywatności</b></a></li>
            <li><a href="#rule8"><b>Jakie ciasteczka lubimy? Czyli jakie pliki cookies są przez nas wykorzystywane.</b></a></li>
            <li><a href="#rule9"><b>Pytania dotyczące polityki prywatności</b></a></li>
        </ol>

        <h3>Co jest czym... kilka definicji terminów zamieszczonych w polityce prywatności.</h3>
        <ul>
            <li><b>Administrator</b> – definicji nie znamy ale My nim jesteśmy – Hurtownia Książek Cover<br></p>
            <li><b>Dane osobowe</b> – definicja jest długa jak makaron spagetti zatem podamy ją niżej.</br>
                <p>Jeszcze niżej, cierpliwości... W skrócie chodzi o dane potrzebne do zidentyfikowania Użytkownika w celu realizacji zamówienia.</p>
                <p>A gdy już mowa o jedzieniu to gromadzimy również ciasteczka, żebyśmy mogli Cię lepiej poznać i zaproponować Ci nalepszą ofertę ;)</p>
                <p>Czas na definicję:</p>
                <p class="notification is-light is-italic">
                    Wszystkie informacje o osobie fizycznej zidentyfikowanej lub możliwej do zidentyfikowania poprzez jeden bądź kilka szczególnych czynników określających fizyczną,
                    fizjologiczną, genetyczną, psychiczną, ekonomiczną, kulturową lub społeczną tożsamość,w tym IP urządzenia, dane o lokalizacji, identyfikator internetowy oraz informacje gromadzone za pośrednictwem plików cookie oraz innej podobnej technologii.
                </p>
            </li>
            <li><b>Pliki cookies</b> – małe pliki tekstowe instalowane na urządzeniu Użytkownika przeglądającego Serwis. </li>        
            Cookies zbierają informacje ułatwiające korzystanie ze strony internetowej – np. poprzez zapamiętywanie odwiedzin Użytkownika w Serwisie i dokonywanych przez niego czynności.
            <li><b>Polityka</b> – niniejsza Polityka prywatności.</li>
            <li><b>RODO</b> – Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych</li>
            w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE.</li>
            <li><b>Sklep internetowy</b> – sklep internetowy <a href="{{meta.url}}">Hurtownia Książek Cover</a> prowadzony przez Administratora pod adresem https://cover.fork-on.ovh </li>
            <li><b>Ustawa</b> – ustawę z dnia 10 maja 2018 r. o ochronie danych osobowych.</p>
            <li><b>Użytkownik</b> – każda osoba fizyczna odwiedzająca Sklep Internetowy i korzystająca z jednej albo kilku usług czy funkcjonalności opisanych w Polityce.</li>
        </ul>
    </div>
    <div class="container content box">
        <ol type="1">
            <li id="rule1"><b>Co to jest polityka prywatności?</b>
                <p>
                    Polityka prywatności to zbiór zasad, których celem jest poinformowanie naszych Klientów o wszystkich aspektach procesu dotyczącego pozyskiwania, przetwarzania oraz zabezpieczania ich danych osobowych. Wyjaśniamy także zasady oraz cele pozyskiwania danych.
                Procesy te są dokonywane w oparciu o obowiązujące przepisy prawa w szczególności Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
                swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE oraz ustawę z dnia 10 maja 2018 r. o ochronie danych osobowych.
                </p>
            </li>
            <li id="rule2"><b>Przez kogo przetwarzane są dane osobowe na stronie Hurtownia Książek COVER?</b>
                <p>Dane osobowe podawane nam przez Ciebie podczas rejestracji i korzystania ze strony internetowej https://cover.fork-on.ovh/ są przetwarzane przez Nas – nazwanych <i>Administratorem danych osobowych</i> czyli:<br>
                <p class="notification is-light">
                    Marcin Jakub Agata Sp. z o.o.<br>
                    ul. Zaczarowana 1/3, XX-XXX Nibylandia<br>
                    NIP: XXXXXXXX, REGON: XXXXXXXXX, KRS: XXXXXXXXXX<br>
                </p>
            </li>
            <li  id="rule3"><b>W jakim celu przetwarzane są dane osobowe przekazywane na stronie Hurtownia Książek COVER?</b></li><br>
            <li id="rule4"><b>Jak długo przechowujemy Twoje dane?</b></li>
            <p>Zgodnie z obowiązującymi przepisami prawa przetwarzamy Twoje dane osobowe przez czas, który jest potrzebny, aby osiągnąć wyznaczony cel. Po tym okresie Twoje dane osobowe zostaną nieodwracalnie usunięte lub zniszczone.</p>
                <li id="rule5"><b>Jakie masz prawa związane z Twoimi danymi?</b><br></li>
            <p>
                Użytkownikom, których dane dotyczą, przysługują następujące prawa:
                <ul>
                <li><b>Prawo do informacji o przetwarzaniu danych osobowych</b>– na tej podstawie osobie zgłaszającej takie żądanie Administrator przekazuje informację o przetwarzaniu danych osobowych, w tym przede wszystkim o celach i podstawach prawnych przetwarzania, zakresie posiadanych danych, podmiotach, którym dane osobowe są ujawniane i planowanym terminie ich usunięcia;</li>
                <li><b>Prawo uzyskania kopii danych</b> – na tej podstawie Administrator przekazuje kopię przetwarzanych danych, dotyczących osoby zgłaszającej żądanie;</li>
                <li><b>Prawo do sprostowania danych</b> – na tej podstawie Administrator usuwa ewentualne niezgodności lub błędy dotyczące przetwarzanych danych osobowych, oraz uzupełnia je lub aktualizuje, jeśli są niekompletne lub uległy zmianie;</li>
                <li><b>Prawo do usunięcia danych</b> – na tej podstawie można żądać usunięcia danych, których przetwarzanie nie jest już niezbędne do realizowania żadnego z celów, dla których zostały zebrane;</li>
                <li><b>Prawo do ograniczenia przetwarzania</b> – na tej podstawie Administrator zaprzestaje dokonywania operacji na danych osobowych, z wyjątkiem operacji, na które wyraziła zgodę osoba, której dane dotyczą oraz ich przechowywania, zgodnie z przyjętymi zasadami retencji, lub dopóki nie ustaną przyczyny ograniczenia przetwarzania danych (np. zostanie wydana decyzji organu nadzorczego, zezwalająca na dalsze przetwarzanie danych);</li>
                <li><b>Prawo do przenoszenia danych</b> – na tej podstawie, w zakresie w jakim dane są przetwarzane w związku z zawartą umową lub wyrażoną zgodą, Administrator wydaje dane dostarczone przez osobę, której one dotyczą, w formacie pozwalającym na ich odczyt przez komputer. Możliwe jest także zażądanie przesłania tych danych innemu podmiotowi – jednak pod warunkiem, że istnieją w tym zakresie techniczne możliwości zarówno po stronie Administratora jak i tego innego podmiotu;</li>
                <li><b>Prawo sprzeciwu wobec przetwarzania danych w celach marketingowych</b> – osoba, której dane dotyczą, może w każdym czasie sprzeciwić się przetwarzaniu danych osobowych w celach marketingowych, bez konieczności uzasadnienia takiego sprzeciwu;</li>
                <li><b>Prawo sprzeciwu wobec innych celów przetwarzania danych</b> – osoba, której dane dotyczą, może w każdym czasie sprzeciwić się przetwarzaniu danych osobowych na podstawie uzasadnionego interesu Administratora (np. dla celów analitycznych lub statystycznych lub ze względów związanych z ochroną mienia). Sprzeciw w tym zakresie powinien zawierać uzasadnienie oraz podlega ocenie Administratora;</li>
                </ul>
            </p>
               <li id="rule6"><b>Prawo do wniesienia skargi oraz prawo wycofania zgody</b></li>
            <p>Jeżeli uważasz, że Twoje dane osobowe są przetwarzane niezgodnie z obowiązującym prawem, możesz wnieść skargę do Prezesa Urzędu Ochrony Danych Osobowych.<br>
            W każdej chwili możesz wycofać wyrażaną przez Ciebie wcześniej zgodę na przetwarzanie Twoich danych osobowych. W tym celu skontaktuj się z Administarem drogą mailową pod adresem: <a href="mailto:coverbok@gmail.com">coverbok@gmail.com</a> bądź poprzez <a href="/contact">formularz kontaktowy</a>.</p>
            </p>
            <li id="rule7"><b> Zmiany w Polityce Prywatności</b></li>
            <p>W zakresie nieuregulowanym niniejszą Polityką prywatności obowiązują przepisy Ustawy oraz RODO.</p>
            <li id="rule8"><b>Jakie ciasteczka lubimy? Czyli jakie pliki cookies są przez nas wykorzystywane.</b></li>
            <p class="is-italic">
                Czekoladowe!
            </p>
            <p>
                Podczas Twojej wizyty na naszej stronie wykorzystujemy poniższe rodzaje cookies:
                <ul>
                    <li><b>Cookies sesyjne</b> – pliki tymczasowe, które przechowywane są w Twoim urządzeniu do czasu opuszczenia strony Hurtowni Książek Cover.</li>
                    <li><b>Cookies stałe</b> – przechowywane w Twoim urządzeniu przez czas określony w parametrach tych plików lub do momentu ich usunięcia przez Ciebie.</li>
                    <li><b>Cookies funkcjonalne</b> - pliki umożliwiające zapamiętanie Twoich ustawień i preferencji. Dzięki zapisaniu tych plików na Twoim urządzeniu m. in. nie będziesz musiał każdorazowo wpisywać wszystkich swoich danych.
                    społecznościowe - umożliwiające integrację serwisów społecznościowych (m. in. Facebook), z których korzystasz, z Hurtowni Książek Cover.</li>
                </ul>                
                   
                <p>
                    <h5>Co należy zrobić, jeśli nie wyrażasz zgody na zapisywanie plików na Twoim urządzeniu?</h5>
                    Jeżeli nie zgadzasz się na zapisywanie tych plików na Twoim urządzeniu, musisz dokonać zmian w ustawieniach swojej przeglądarki internetowej. Zmiany mogą polegać na niezapisywaniu plików cookies na Twoim urządzeniu
                    lub na każdorazowym informowaniu Cię o zapisaniu danego pliku na Twoim urządzeniu.
                </p>
                <p>
                    Możesz również za każdym razem po wizycie na stronie naszego sklepu lub innych sklepów usuwać pliki ze swojego urządzenia.
                    Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oraz w sekcji "Pomoc" przeglądarki internetowej.
                </p>
                <p>
                    Należy pamiętać jednak o tym, że ograniczenia w stosowaniu plików cookies mogą utrudnić lub uniemożliwić korzystanie ze strony Hurtowni Książek Cover lub innych sklepów.
                    Ustawienia przeglądarki Twojego urządzenia pozwalające na zapisywanie plików oznaczają, że wyrażasz zgodę, aby pliki te zapisywane były na Twoim urządzeniu.
                </p>
            <li id="rule9"><b>Pytania dotyczące polityki prywatności</b>
                <p>
                    Jeżeli masz jakiekolwiek pytania na temat polityki ochrony prywatności, skontaktuj się z Administratorem (to My) drogą mailową pod adresem:
                    <a href="mailto:coverbok@gmail.com">coverbok@gmail.com</a>
                    bądź poprzez
                    <a href="/contact">formularz kontaktowy</a>.
                </p>
            </li>
        </ol>
    </div>
</section>