<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="title">Ranking</div>
            <div class="subtitle is-italic">(wg. liczby sprzedanych egzemplarzy)</div>
        </div>
    </div>
</section>