<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="title">Ranking</div>
            <div class="subtitle is-italic">(wg liczby sprzedanych egzemplarzy)</div>

            {{#each books}}
                {{> rankingEntry book=this}}
            {{/each}}
        </div>
    </div>
</section>