<section id="books" class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{#each books}}
                <div class="column is-3">
                    {{> bookSearchEntry book=this}}
                </div>
            {{/each}}
        </div>
    </div>
</section>